{
"text": "Status Update",
"blocks": [
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "{{inventory_hostname | capitalize}} is now compliant. Resolving and closing incident number: {{ incident_num }}"
        }
    },
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text":
"
:ticket: <{{ SN_INSTANCE }}/nav_to.do?uri=%2Fhome.do|ServiceNow>
"
        }
    }
]
}