{
"text": "Status Update",
"blocks": [
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "No action required. {{inventory_hostname.split('1')[0] | capitalize }} device is in compliant state"
        }
    }
]
}