{
"text": "Status Update",
"blocks": [
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text": "@{{slack_user}}, report generated and reachable at:"
        }
    },
    {
        "type": "section",
        "text": {
            "type": "mrkdwn",
            "text":
"
:pencil2: <http://net-report.redhatgov.io/|Report>
"
        }
    }
]
}